body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px; /* Increased width */
    height: auto;
}

header h1 {
    font-size: 35px; /* Increased font size */
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #b4abab;
}

h2 {
    text-align: center;
    padding-top: 1px;
}
h4 {
    background-color: black;
    color: white;
    padding: 40px;
    display: inline-block;
}
section {
    padding: 10px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background-color: rgb(159, 159, 159);
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    width: 220px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}

.product-info h3 {
    margin: 10px 0;
    font-size: 12px;
}

.product-info p {
    margin: 5px 0;
    font-size: 14px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#achievements {
    text-align: center;
}

.image-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-container {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-container p {
    margin-top: 20px;
}
button {
    background-color: #f8f8f8; /* Green */
    border: black;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 32px;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 25px;
}
